*
*/
!.gitignore
!docker-compose.yml
!docker-compose-vpn.yml
!docker-compose-obsolete.yml
!.env.example
!README.md
!CHANGELOG.md
!LICENSE
!traefik
traefik/*
!traefik/*.example
!traefik/rules
traefik/rules/*
!traefik/rules/*.example
!shared
shared/*
!shared/*.example
!picard
picard/*
!picard/*.example

