*
*/

!.gitignore
!README.md
!CHANGELOG.md
!LICENSE
!.bash_aliases.example
!.env.example

!docker-compose-t2.yml
!docker-compose-t2-obsolete.yml
!docker-compose-t2-synology.yml
!docker-compose-t2-web.yml
!docker-compose-npm.yml
!docker-compose-t2-media-db.yml

!.github
.github/*
!.github/FUNDING.yml

!custom
custom/*
!custom/Dockerfile-*

!shared
shared/*
!shared/*.example
!shared/config
shared/config/*
!shared/config/*.example
!shared/config/bash_aliases

!secrets_example
!secrets_example/*

!scripts
scripts/*
!scripts/*.example
!scripts/cloudserver
scripts/cloudserver/*
!scripts/cloudserver/*.example
!scripts/cloudserver/media-services.txt
!scripts/cloudserver/basic-services.txt
!scripts/systemd
scripts/systemd/*
!scripts/systemd/*.example
!scripts/synology
scripts/synology/*
!scripts/synology/*.example
!scripts/web
scripts/web/*
!scripts/web/*.example

!archives
archives/*
!archives/**

!appdata
appdata/*

!appdata/picard
appdata/picard/*
!appdata/picard/*.example

!appdata/traefik2
appdata/traefik2/*
!appdata/traefik2/*.example
!appdata/traefik2/rules
appdata/traefik2/rules/*
!appdata/traefik2/rules/*.example
!appdata/traefik2/rules/web
appdata/traefik2/rules/web/*
!appdata/traefik2/rules/web/*.example
!appdata/traefik2/rules/toml
appdata/traefik2/rules/toml/*
!appdata/traefik2/rules/toml/*.example
!appdata/traefik2/rules/synology
appdata/traefik2/rules/synology/*
!appdata/traefik2/rules/synology/*.example
!appdata/traefik2/rules/cloudserver
appdata/traefik2/rules/cloudserver/*
!appdata/traefik2/rules/cloudserver/*.example
!appdata/traefik2/rules/cloudserver/tls-opts.yml
!appdata/traefik2/rules/cloudserver/middlewares.yml
!appdata/traefik2/rules/cloudserver/middlewares-chains.yml

!appdata/authelia
appdata/authelia/*
!appdata/authelia/*.example

!appdata/rclone
appdata/rclone/*
!appdata/rclone/*.example

!appdata/php
appdata/php/*
!appdata/php/php7
appdata/php/php7/*
!appdata/php/php7/*.example
!appdata/php/php7/conf.d
appdata/php/php7/conf.d/*
!appdata/php/php7/conf.d/*.example

!appdata/nginx
appdata/nginx/*
!appdata/nginx/*.example
!appdata/nginx/conf.d
appdata/nginx/conf.d/*
!appdata/nginx/conf.d/*.example
!appdata/nginx/sites
appdata/nginx/sites/*
!appdata/nginx/sites/*.example
!appdata/nginx/common
appdata/nginx/common/*
!appdata/nginx/common/*.example