*
*/

!.gitignore
!README.md
!CHANGELOG.md
!LICENSE
!.bash_aliases.example
!.env.example

!docker-compose-hs.yml
!docker-compose-mds.yml
!docker-compose-ds918.yml
!docker-compose-ws.yml
!docker-compose-dns.yml

!.github
.github/*
!.github/FUNDING.yml

!custom
custom/*
!custom/Dockerfile-*

!shared
shared/*
!shared/*.example
!shared/config
shared/config/*
!shared/config/*.example
!shared/config/bash_aliases

!secrets_example
!secrets_example/*

!scripts
scripts/*
!scripts/*.example
!scripts/hs
scripts/hs/*
!scripts/hs/*.example
!scripts/systemd
scripts/systemd/*
!scripts/systemd/*.example
!scripts/ds918
scripts/ds918/*
!scripts/ds918/*.example
!scripts/ws
scripts/ws/*
!scripts/ws/*.example

!archives
archives/*
!archives/**

!compose
compose/*
!compose/**

!appdata
appdata/*

!appdata/picard
appdata/picard/*
!appdata/picard/*.example

!appdata/traefik2
appdata/traefik2/*
!appdata/traefik2/*.example
!appdata/traefik2/rules
appdata/traefik2/rules/*
!appdata/traefik2/rules/*.example
!appdata/traefik2/rules/ws
appdata/traefik2/rules/ws/*
!appdata/traefik2/rules/ws/*.example
!appdata/traefik2/rules/toml
appdata/traefik2/rules/toml/*
!appdata/traefik2/rules/toml/*.example
!appdata/traefik2/rules/ds918
appdata/traefik2/rules/ds918/*
!appdata/traefik2/rules/ds918/*.example
!appdata/traefik2/rules/ds918/tls-opts.yml
!appdata/traefik2/rules/ds918/middlewares-*.yml
!appdata/traefik2/rules/ds918/chain-*.yml
!appdata/traefik2/rules/hs
appdata/traefik2/rules/hs/*
!appdata/traefik2/rules/hs/*.example
!appdata/traefik2/rules/hs/tls-opts.yml
!appdata/traefik2/rules/hs/middlewares-*.yml
!appdata/traefik2/rules/hs/chain-*.yml
!appdata/traefik2/rules/ws
appdata/traefik2/rules/ws/*
!appdata/traefik2/rules/ws/*.example
!appdata/traefik2/rules/ws/tls-opts.yml
!appdata/traefik2/rules/ws/middlewares-*.yml
!appdata/traefik2/rules/ws/chain-*.yml

!appdata/traefik3
appdata/traefik3/*
!appdata/traefik3/*.example
!appdata/traefik3/rules
appdata/traefik3/rules/*
!appdata/traefik3/rules/*.example
!appdata/traefik3/rules/ws
appdata/traefik3/rules/ws/*
!appdata/traefik3/rules/ws/*.example
!appdata/traefik3/rules/toml
appdata/traefik3/rules/toml/*
!appdata/traefik3/rules/toml/*.example
!appdata/traefik3/rules/ds918
appdata/traefik3/rules/ds918/*
!appdata/traefik3/rules/ds918/*.example
!appdata/traefik3/rules/ds918/tls-opts.yml
!appdata/traefik3/rules/ds918/middlewares-*.yml
!appdata/traefik3/rules/ds918/chain-*.yml
!appdata/traefik3/rules/hs
appdata/traefik3/rules/hs/*
!appdata/traefik3/rules/hs/*.example
!appdata/traefik3/rules/hs/tls-opts.yml
!appdata/traefik3/rules/hs/middlewares-*.yml
!appdata/traefik3/rules/hs/chain-*.yml
!appdata/traefik3/rules/ws
appdata/traefik3/rules/ws/*
!appdata/traefik3/rules/ws/*.example
!appdata/traefik3/rules/ws/tls-opts.yml
!appdata/traefik3/rules/ws/middlewares-*.yml
!appdata/traefik3/rules/ws/chain-*.yml

!appdata/authelia
appdata/authelia/*
!appdata/authelia/*.example

!appdata/rclone
appdata/rclone/*
!appdata/rclone/*.example

!appdata/php
appdata/php/*
!appdata/php/php7
appdata/php/php7/*
!appdata/php/php7/*.example
!appdata/php/php7/conf.d
appdata/php/php7/conf.d/*
!appdata/php/php7/conf.d/*.example

!appdata/nginx
appdata/nginx/*
!appdata/nginx/*.example
!appdata/nginx/conf.d
appdata/nginx/conf.d/*
!appdata/nginx/conf.d/*.example
!appdata/nginx/sites
appdata/nginx/sites/*
!appdata/nginx/sites/*.example
!appdata/nginx/common
appdata/nginx/common/*
!appdata/nginx/common/*.example