#https://joshuaavalon.github.io/docker-cloudflare/
api: https://api.cloudflare.com/client/v4/
auth:
  scopedToken: API_Token_with DNS_Edit_limited_to_specific_zone
domains:
  - name: example.com
    type: A
    proxied: false
    create: true
    zoneId: zone_id_goes_here
#    webhook:
#      run: https://example.com/webhook/start
#      success: https://example.com/webhook/success
#      failure: https://example.com/webhook/failure
