[Unit]
Description=Rclone SHB-Drive 
Wants=network-online.target
After=network-online.target
 
[Service]
Type=notify
ExecStart=/usr/bin/rclone mount shb-drive: /media/drive \
--config /home/USER/docker/appdata/rclone/rclone.conf \
--log-file=/home/USER/docker/logs/systemd/rclone-drive.log \
--log-level NOTICE \
--allow-other \
--no-modtime \
--allow-non-empty \
--umask 002 \
--dir-cache-time 1000h \
--drive-chunk-size 256M \
--poll-interval 15s \
--user-agent cDoc \
--buffer-size 256M \
--vfs-cache-mode full \
--vfs-cache-max-age 336h \
--cache-dir=/media/data/temp/rclone/drive \
--vfs-cache-max-size 250G \
--vfs-read-chunk-size 32M \
--vfs-read-chunk-size-limit 2G \
--use-mmap 
ExecStop=/bin/fusermount -uz /media/drive
# ExecStartPost=/usr/bin/rclone rc vfs/refresh recursive=true --rc-addr 127.0.0.1:5572 _async=true
Restart=on-abort
User=USER
Group=USER
KillMode=none
RestartSec=5

[Install]
WantedBy=default.target
