###############################################################
#                         Users Database                      #
###############################################################

# This file can be used if you do not have an LDAP set up.
# Create new hashed password: docker run authelia/authelia:latest authelia hash-password <new_password>
# https://docs.authelia.com/configuration/authentication/file.html

# List of users
users:
  USERNAME:
    displayname: "John Doe"
    password: "HASHED_PASSWORD"
    email: USER_EMAIL
    groups:
      - admins
      - dev
# EXAMPLE USER
#  john:
#    displayname: "John Doe"
#    password: "$argon2id$v=19$m=1048576,p=john_strong_hashed_password"
#    email: john@example.com
#    groups:
#      - admins
#      - dev