BA_USERNAME=your_username
BA_MYEMAIL1=your_email
BA_MOSQUITTO_HOST=example_mosquitto_host_ip
BA_MOSQUITTO_USERNAME=example_mosquitto_username
BA_MOSQUITTO_PASSWORD=example_mosquitto_password

# DOMAIN
# I am sure there is a better way than using $HOSTNAME - if you do, feel free to share/contribute
case $HOSTNAME in
    cDoc|zDoc|zSyn) 
      BA_DOMAINNAME='example1.com'
      ;;
    cSHB|zSHB) 
      BA_DOMAINNAME='example2.com'
      ;;
    *)
esac