http:
  routers:
    hassos-rtr:
      rule: "Host(`hassos.{{env "DOMAINNAME_CLOUD_SERVER"}}`)" 
      entryPoints:
        - https
      middlewares:
        - chain-no-auth
      service: hassos-svc
      tls:
        certResolver: dns-cloudflare
  services:
    hassos-svc:
      loadBalancer:
        servers:
          - url: "http://192.168.5.90:8123"  # or whatever your external host's IP:port is 
