http:
  routers:
    unifi-rtr:
      rule: "Host(`unifi.{{env "DOMAINNAME_HS"}}`)"
      entryPoints:
        - websecure
      middlewares:
        - chain-authelia
      service: unifi-svc
      tls:
        certResolver: dns-cloudflare
        options: tls-opts@file
  services:
    unifi-svc:
      loadBalancer:
        passHostHeader: true
        serversTransport: "pve"
        servers:
          - url: "https://192.168.1.100:8443/"
  serversTransports:
    pve:
      insecureSkipVerify: true
