tcp:
  routers:
    synology-traefik-rtr:
      entryPoints:
        - websecure
      rule: "HostSNIRegexp(`{{env "DOMAINNAME_DS918"}}`, `{subdomain:[a-z]+}.{{env "DOMAINNAME_DS918"}}`)"
      service: synology-traefik-svc
      tls:
        passthrough: true
  services:
    synology-traefik-svc:
      loadBalancer:
        servers:
          - address: "192.168.1.254:443"