http:
  routers:
    hass-core-rtr:
      rule: "Host(`hass.{{env "DOMAINNAME_CLOUD_SERVER"}}`)" 
      entryPoints:
        - https
      middlewares:
        - chain-no-auth
      service: hass-core-svc
      tls:
        certResolver: dns-cloudflare
  services:
    hass-core-svc:
      loadBalancer:
        servers:
          - url: "http://192.168.5.90:8123"  # or whatever your external host's IP:port is 
