[http.routers]
  [http.routers.hassio-rtr]
      entryPoints = ["https"]
      rule = "Host(`hassio.example.com`)"
      service = "hassio-svc"
      middlewares = ["chain-no-auth"]
      [http.routers.hassio-rtr.tls]
        certresolver = "dns-cloudflare"

[http.services]
  [http.services.hassio-svc]
    [http.services.hassio-svc.loadBalancer]
      passHostHeader = true
      [[http.services.hassio-svc.loadBalancer.servers]]
        url = "http://HASSIO-IP:8123" 
