[http.routers]
  [http.routers.unifi-rtr]
      entryPoints = ["https"]
      rule = "Host(`unifi.example.com`)" # will only work with cloudflare Full SSL (not Strict)
      service = "unifi-svc"
      middlewares = ["chain-authelia"]
      [http.routers.unifi-rtr.tls]
        certresolver = "dns-cloudflare"
[http.services]
  [http.services.unifi-svc]
    [http.services.unifi-svc.loadBalancer]
      passHostHeader = true
      [[http.services.unifi-svc.loadBalancer.servers]]
        "https://192.168.5.254:8443" # or whatever your external host's IP:port is 
