[http.routers]
  [http.routers.pihole-rtr]
      entryPoints = ["https"]
      rule = "HostHeader(`pihole.example.com`)"
      service = "pihole-svc"
      middlewares = ["chain-authelia", "pihole-add-admin"]
      [http.routers.pihole-rtr.tls]
        certresolver = "dns-cloudflare"

[http.middlewares]
  [http.middlewares.pihole-add-admin.addPrefix]
    prefix = "/admin"

[http.services]
  [http.services.pihole-svc]
    [http.services.pihole-svc.loadBalancer]
      passHostHeader = true
      [[http.services.pihole-svc.loadBalancer.servers]]
        url = "http://PIHOLE-IP:80" # or whatever your external host's IP:port is
