#!/bin/bash

echo "Stopping Media Services..."

sudo docker stop $(cat /home/$USER/docker/scripts/cloudserver/media-services.txt)

echo
echo "Stopping MergerFS..."
sudo systemctl stop merge-media.service

echo 
echo "Stopping Rclone-Drive..."
sudo systemctl stop rclone-drive.service

echo
echo "Stopping Rclone-Crypt..."
sudo systemctl stop rclone-crypt.service

drive_status=$(systemctl is-active rclone-drive.service)
crypt_status=$(systemctl is-active rclone-crypt.service)
mergerfs_status=$(systemctl is-active merge-media.service)

echo
echo "Rclone Drive is: $drive_status"
echo "Rclone Crypt is: $crypt_status"
echo "Rclone MergerFS is: $mergerfs_status"