#!/bin/bash
drive_status=$(systemctl is-active rclone-drive.service)
crypt_status=$(systemctl is-active rclone-crypt.service)
mergerfs_status=$(systemctl is-active merge-media.service)

echo "Rclone Drive is: $drive_status"
echo "Rclone Crypt is: $crypt_status"
echo "Rclone MergerFS is: $mergerfs_status"