#!/bin/bash

echo "Stopping Media Services..."
sudo docker stop $(cat /home/$USER/docker/scripts/cloudserver/media-services.txt)

echo
echo "Stopping MergerFS..."
sudo systemctl stop merge-media.service

echo 
echo "Starting Rclone-GDrive..."
sudo systemctl start rclone-gdrive.service

echo
echo "Starting Rclone-GCrypt..."
sudo systemctl start rclone-gcrypt.service

echo
echo "Starting MergerFS..."
sudo systemctl start merge-media.service

gdrive_status=$(systemctl is-active rclone-gdrive.service)
gcrypt_status=$(systemctl is-active rclone-gcrypt.service)
mergerfs_status=$(systemctl is-active merge-media.service)

echo
echo "Rclone GDrive is: $gdrive_status"
echo "Rclone GCrypt is: $gcrypt_status"
echo "Rclone MergerFS is: $mergerfs_status"