#!/bin/bash
# Move media from local to remove, that are older than few days

# Variables to verify match your installation
DOCKERFOLDER=/home/USER/docker
RCLONE_USER=USER

# Rclone Config file
RCLONE_CONFIG=$DOCKERFOLDER/appdata/rclone/rclone.conf
export RCLONE_CONFIG

# User account that Rclone is running as
RCLONE_USER_AGENT=$RCLONE_USER
export RCLONE_USER_AGENT

# Local Mount - Ensure this is set to your local disk only.
LOCAL=/media/hdd1/local/media
EXCLUDES=$DOCKERFOLDER/scripts/upload-excludes.log
LOGFILE=$DOCKERFOLDER/appdata/rclone/logs/upload-media.log

# Name of your Rclone Remote, likely cloud or cloudcrypt
REMOTE=shb-crypt

# This will allow for 10 days for media analysis / intro generation. Feel free to reduce if needed.
MOVEAGE=10d

# Checks
# Running Check
if [[ $(pidof -x "$(basename "$0")" -o %PPID) ]]; then exit; fi

# Exclude File Check
if [[ ! -f $EXCLUDES ]] ; then
    echo 'Warning: No excludes.log file found at $EXCLUDES'
    exit 1
fi

# Local Disk Check
if /bin/findmnt $LOCAL -o FSTYPE -n | grep fuse; then
        echo "Warning: $LOCAL is not a local disk!"
        exit 1
fi

# Rclone Move Command
# Maximum transfer 300 GB. Google allows up to 750 GB per user per day.
/usr/bin/rclone move $LOCAL $REMOTE:/media --max-transfer=300G --cutoff-mode=soft --delete-empty-src-dirs --log-file $LOGFILE -v --exclude-from $EXCLUDES --fast-list --min-age $MOVEAGE

exit 0